@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #7F5AF0;
    --background: 0 0% 100%;
    --foreground: 222 14% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 222 14% 55%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 14% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 14% 11%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;

    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 159 55% 48%;
    --secondary-foreground: 0 0% 100%;

    --accent: 28 100% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 262 83% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --gradient: #7F5AF0;

    --background: 222 14% 11%;
    --foreground: 0 0% 100%;

    --muted: 223 13% 15%;
    --muted-foreground: 221 14% 69%;

    --popover: 223 13% 15%;
    --popover-foreground: 0 0% 100%;

    --card: 223 13% 15%;
    --card-foreground: 0 0% 100%;

    --border: 223 13% 20%;
    --input: 223 13% 20%;

    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 159 55% 48%;
    --secondary-foreground: 0 0% 100%;

    --accent: 28 100% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --ring: 262 83% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;

    /* scrollbar invisible */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
}
